#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    border: 1px solid transparent;
    padding: 1%;
}

#balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid orange;
    padding: 1% 2%;
    margin-bottom: 3%;
}

#report {
    position: relative;
    border: 1px solid black;
    padding: 1% 5%;
}

.chartTitle {
    margin-left: 2.5%;
}

.chartDiv {
    padding: 1%;
}

.chartSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}